* {
    font-weight: 100;
    font-family: 'Avenir Next', sans-serif;
    margin: 0;
    padding: 0;
}

#wrap {
    display: block;
    margin: 0 auto 0 auto;
}

.title {
    border: 2px #f0f0f0;
    border-style: none none solid none;
    margin: 32px;
}

.page-title {
    color: #fff;
    text-align: center;
    font-size: 28px;
    padding: 8px;
}

.page {
    display: block;
    min-height: 100vh;
    width: 100%;
}

.section {
    max-width: 700px;
    display: block;
    margin: 8px auto 8px auto;
}

.section p {
    margin: 8px;
    padding: 8px;
}

.section h2 {
    color: #fff;
    background: #6cf;
    padding: 8px;
    margin: 8px;
}

.section h3 {
    color: #fff;
    background: #3af;
    padding: 16px;
    margin: 8px;
}

.info-paragraph {
    color: #fff;
    max-width: 500px;
    margin: 8px auto 8px auto;
    padding: 8px;
}

#page1 {
    /*max-width: 650px;*/
    display: block;
    margin: 0 auto 0 auto;
    /*
    background-image: url("../images/pop.jpg");
    background-size: cover;
    */
    background: #3af; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#6cf, #3af); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6cf, #3af); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6cf, #3af); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6cf, #3af); /* Standard syntax */
    height: 100vh;
    min-height: 694px;
}

#page2 {
    /*
    background: url(../images/tip.jpg);
    background-size: cover;
    */
    background: #90f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#90f, #90a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#90f, #90a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#90f, #90a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#90f, #90a); /* Standard syntax */

    min-height: 75vh;
}

#page2inner {
    height: 100vh;
    display: block;
    margin: 0 auto 0 auto;
    min-height: 300px;
    overflow: hidden;
}

#page3 {
    /*
    background-image: url(../images/bootstrap.jpg);
    background-size: cover;
    */
    background: #c93; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#c93, #f33); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c93, #f33); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c93, #f33); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c93, #f33); /* Standard syntax */

    min-height: 75vh;
}

#page4 {
    /*background-image: url("../images/lil.png");*/
    background-size: cover;
}

.float-wrapper {
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 8px auto 8px auto;
}

.float-item {
    width: 200px;
    height: 200px;
    margin: 8px 16px 8px 16px;
    padding: 16px;
    display: inline-flex;
    border: 2px solid #f0f0f0;
    border-radius: 42px;
    background-color: #fff;
}

.port1 {
    background-image: url(../images/bootstrap.jpg);
    background-size: 150%;
    background-attachment: fixed;
    display: inline-flex;
    background-repeat: no-repeat;
}

.port2 {
    background-image: url(../images/tip.jpg);
    background-size: 150%;
    background-attachment: fixed;
    display: inline-flex;
    background-repeat: no-repeat;
}

.port3 {
    background-image: url(../images/bootstrap.jpg);
    background-size: 150%;
    background-attachment: fixed;
    display: inline-flex;
    background-repeat: no-repeat;
}

.port4 {
    background-image: url(../images/tip.jpg);
    background-size: 150%;
    background-attachment: fixed;
    display: inline-flex;
    background-repeat: no-repeat;
}

.port5 {
    background-image: url(../images/bootstrap.jpg);
    background-size: 150%;
    background-attachment: fixed;
    display: inline-flex;
    background-repeat: no-repeat;
}

.port6 {
    background-image: url(../images/tip.jpg);
    background-size: 150%;
    background-attachment: fixed;
    display: inline-flex;
    background-repeat: no-repeat;
}

.port7 {
    background-image: url(../images/bootstrap.jpg);
    background-size: 150%;
    background-attachment: fixed;
    display: inline-flex;
    background-repeat: no-repeat;
}

.side-by-side {
    margin:8px;
    padding:4px;
    overflow: hidden;
}

.side-by-side-left {
    float:left;
    width:45vw;
}

.side-by-side-right {
    float:right;
    width:45vw;
}

.side-by-side-right h3 {
    width: 290px;
    margin-top: 50px;
    font-size: 25px;
    background: transparent;
}

@media(max-width: 600px) {
    .side-by-side-left {
        float: none;
        width: auto;
    }

    .side-by-side-right {
        float: none;
        width: auto;
    }

    .side-by-side-right h3 {
        width: auto;
        margin-top: 0;
        font-size: 25px;
        text-align: center;
        background: transparent;
    }

    #page1 {
        height: auto;
        min-height: inherit;
    }
}